body {
  font-family: sans-serif;
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

h1 {
  font-size: 1.5em;
  color: #000;
}

h2 {
  font-size: 1.2em;
  margin: 1em 0 0.5em;
}

p {
  line-height: 1.4;
}

.scale-container {
  display: flex;
  gap: 0.5em;
  margin: 1em 0;
}

.scale-labels {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.scale-options {
  display: flex;

  gap: 0.2em;
  flex: 7;
}

.scale-option,
.after,
.before {
  flex: 1;
  text-align: center;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
}

button {
  background: #00f;
  color: #fff;
  border: none;
  padding: 0.8em 2em;
}

hr {
  margin: 2em 0;
  border: 1px solid #ddd;
}

.result-bar {
  background: #00f;
  height: 20px;
  margin: 0.5em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
  border: 1px solid #ddd;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background: white;
  padding: 2em;
  border-radius: 5px;
  max-width: 80%;
  text-align: center;
}
.modal button {
  background: #00f;
  color: white;
  border: none;
  padding: 0.5em 2em;
  margin-top: 1em;
  cursor: pointer;
}

.question-block {
  margin: 2rem 0;
}

.result-bar {
  height: 20px;
  background: #00f;
  margin: 5px 0;
}

@media (max-width: 480px) {
  .scale-options {
    flex-wrap: wrap;
  }
}
